$main-color: white !global;
$mob-color: black !global;
$footer-nav-header-fs: 32px !global;
$footer-nav-item-fs: 24px !global;
$footer-input-width: 800px !global;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

//-----------------------оформление Feature-block-------------------------

.feature-block {
    display: flex;
    flex-direction: column;

    &__header {
        font-size: 38px;
    }

    &__divider {
        display: none;
    }

    &__text {
        font-size: 16px;
        line-height: 1.5;
        margin: 20px 0 30px 0;
    }
}

@media all and (max-width: 950px) {
    .feature-block {
        align-items: center;
        background: $main-color;
        padding-bottom: 40px;
        width: 100%;

        &__header {
            color: $mob-color;
            text-align: center;
            margin-top: -19px;
            line-height: 1;
            padding: 0 20px;
        }

        &__divider {
            display: block;
        }

        &__text {
            color: $mob-color;
            font-size: 12px;
            margin: 20px 0 25px 0;
            padding: 0 15px;
            text-align: center;
        }
    }
}

//-----------------------оформление Screen-------------------------

.screen {
    color: $main-color;
    height: 100vh; 
}

//-----------------------оформление Screen-1-------------------------

.screen {
    &._scr-1{
        background: #3A2511;
    }

    &__content._scr-1 {
        display: flex;
        flex-direction: column;
        height: calc(100% - 140px);
        justify-content: flex-end;
        padding: 0 0 100px 150px;
    }
}

@media all and (max-width: 950px) {
    .screen {
        &._scr-1 {
            background: #C4C4C4;
        }

        &__content._scr-1 {
            height: calc(100% - 63px);
            padding: 0;
        }
        
    }
}

//-----------------------оформление Screen-2-------------------------

.screen {
    &._scr-2 {
        background: #DECFA7;
    }

    &__content._scr-2 {
        display: flex;
        flex-direction: column;
        padding: 240px 0 0 150px;
    }
}

@media all and (max-width: 950px) {
    .screen {
        &._scr-2 {
            background: #C4C4C4;
        }

        &__content._scr-2 {
            justify-content: flex-end;
            height: 100%;
            padding: 0;
        }
    }
    
}

//-----------------------оформление Screen-3-------------------------

.screen {
    &__content._scr-3 {
        display: flex;
        width: 100%;
        height: 100%;
    }
    .screen-3 {
        &__img-1 {
            width: calc(100% / 3);
            background: #B9C8CB;
        }

        &__img-2 {
            width: calc(100% / 3);
            background: #DAB4AF;
        }

        &__img-3 {
            width: calc(100% / 3);
            background: #D3DAE2;
        }
    }
}

@media all and (max-width: 950px) {
    .screen._scr-3 {
        display: none;
    }
}

//-----------------------оформление Screen-4-------------------------

.screen {
    &._scr-4 {
        background: #C9CB7B;
    }

    &__content._scr-4  {
        display: flex;
        flex-direction: column;
        padding: 225px 0 0 150px;
    }
}


@media all and (max-width: 950px) {
    .screen {
        &._scr-4  {
            background: #C4C4C4;
        }

        &__content._scr-4  {
            justify-content: flex-end;
            height: 100%;
            padding: 0;
        }
        
    }
}

//-----------------------оформление Screen-5-------------------------

.screen { 
    &__content._scr-5 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 60px 80px 60px 80px;
    }

    &-5__header {
        font-size: 16px;
        font-weight: normal;
        color: black;
        padding-bottom: 30px;
    }

    &-5-gallery {
        display: flex;
        width: 100%;
        height: 100%;   
    }

    &-5__item {
        width: 25%;

        &._img-1 {
            background:#E9E7E8;
        }
    
        &._img-2 {
            background:#E1E1DF;
        }
    
        &._img-3 {
            background: #E8E8E6;
        }
    
        &._img-4 {
            background: #D4D4D4;
        }
    }
}


@media all and (max-width: 950px) {
    .screen {
        &._scr-5 {
            height: auto;
        }

        &__content._scr-5 {
            padding: 20px 8px 40px;
        }
    
        &-5__header {
            font-size: 12px;
            padding-bottom: 20px;
        }

        &-5-gallery {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;   
        }

        &-5__item {
            width: 100%;
            height: 100vh;
        }
        
    }
}
//-----------------------оформление Screen-6-------------------------

.screen {
    &._scr-6  {
        background: #99CB7B;
        }
        
    &__content._scr-6  {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 110px 100px 0;
    }  
}


@media all and (max-width: 950px) {
    .screen {
        &._scr-6 {
            background: #C4C4C4;
        }

        &__content._scr-6 {
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            padding: 0;
        }
    }
}

//-----------------------оформление Screen-7-------------------------

.screen {
    &__content._scr-7 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 60px 80px 60px 80px;
    }

    &-7-text {
        font-size: 16px;
        color: black;
    }

    &-7-gallery {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 30px 0;
    }

    &-7-gallery__col._left {
        display: flex;
        width: 50%;
        height: 100%;
    }

    &-7-gallery__col._left .screen-7__img {
        width: 100%;
        background: #BAC9E0;
    }

    &-7-gallery__col._right {
        width: 50%;
    }

    &-7-gallery__col._right div {
        width: 100%;
    }

    &-7-gallery__row {
        display: flex;
        height: 50%;
    }

    &-7__img-1 {
        background: #D9DADF;
    }

    &-7__img-2 {
        background: #D8D7D5;
    }

    &-7__img-3 {
        background: #CDCED7;
    }

    &-7__img-4 {
        background: #D4CFC3;
    }

    &-7__text {
        font-size: 16px;
    }

    &-7-nav {
        display: flex;
        justify-content: flex-start;
        color: $main-color;

        &__icon {
            margin-left: 12.5px;
        }
    }

    &-7-nav__item {
        text-decoration: none;
        color: black;
        font-size: 16px;
        padding-right: 60px;
    }

    &._icon-item {
        display: flex;
        align-items: center;
    }
}

@media all and (max-width: 950px) {
    .screen {
        &._scr-7 {
            height: auto;
        }

        &__content._scr-7  {
            padding: 0 8px;
        }

        &-7-nav {
            &__item {
                padding-right: 40px;
                font-size: 12px;
                position: relative;
            }
          
            &__icon {
                top: 47%;
                position: absolute;
                transform: translate(-50%, -50%);
            }
        }

        &-7-gallery {
            flex-direction: column;
            height: auto;

            &__col._left {
                display: flex;
                width: 100%;
                height: 100%;
            }
        
            &__col._left .screen-7__img {
                width: 100%;
                height: 100vh;
                background: #BAC9E0;
            }
        
            &__col._right {
                width: 100%;
            }
        
            &__col._right div {
                width: 100%;
            }
        
            &__row {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
    
            &-left-col-img {
                height: 100vh;
            }
        }

        &-7__img-1,
        &-7__img-2,
        &-7__img-3,
        &-7__img-4 {
            height: 100vh;
        }

        &-7-text {
            margin-bottom: 120px;
            font-size: 12px;
        }
        
    }
}









