$main-color: white !global;
$mob-color: black !global;
$footer-nav-header-fs: 32px !global;
$footer-nav-item-fs: 24px !global;
$footer-input-width: 800px !global;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// @mixin screen() {
//     color: $main-color;
//     height: 100vh;    
// }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

//----------------------Оформление Десктопного Хэдера-------------------------

.header-inner {
    display: flex;
    color: $main-color;
    padding: 20px 60px;

    &__col {
        &._left,
        &._right {
            display: flex;
            align-items: center;
            flex-shrink: 1;
            flex-grow: 1;
            flex-basis: 100%;
        }

        &._left {
            justify-content: flex-start;
        }

        &._right {
            justify-content: flex-end;
        }

        &._logo {
            flex-grow: 0;
            flex-shrink: 0;
            padding: 0 20px;
        }

        &._not-main-page {
            color: black;
        }
    }

    &._mobile {
        padding: 18px 20px;
    }
}

.header-nav {
    &__item {
        text-decoration: none;
        color: $main-color;
        font-size: 12px;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-right: 40px;
        }

        &._not-main-page {
            color: black;
        }
    }

    &._mobile {
        .header-nav__item {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

.header-logo {
    font-size: 35px;
    font-weight: bold;
    text-align: center;

    &._mobile {
        font-size: 22px;
    }
}

.header-icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $main-color;
    font-size: 12px;
    text-transform: uppercase;
    
    &__link {
        text-decoration: none;
        color: $main-color;
        margin-left: 10px;

        &._not-main-page {
            color: black;
        }
    }
}

//----------------------Оформление Мобильного Хэдера-------------------------

@media all and (min-width: 951px) {
    .header-inner._mobile {
        display: none;
    }
}


@media all and (max-width: 950px) {
    .header-inner:not(._mobile) {
        display: none;
    }

    .header-logo._not-main-page {
        color: black;
    }
}

//-----------------------оформление Feature-block-------------------------

.feature-block {
    display: flex;
    flex-direction: column;

    &__header {
        font-size: 38px;
    }

    &__divider {
        display: none;
    }

    &__text {
        font-size: 16px;
        margin: 20px 0 30px 0;
    }
}

@media all and (max-width: 950px) {
    .feature-block {
        align-items: center;
        background: $main-color;
        padding-bottom: 40px;
        width: 100%;

        &__header {
            color: $mob-color;
            text-align: center;
            margin-top: -23px;
        }

        &__divider {
            display: block;
        }

        &__text {
            color: $mob-color;
            font-size: 12px;
            margin: 20px 0 25px 0;
            padding: 0 15px;
        }
    }
}

//-----------------------оформление Screen-------------------------

.screen {
    color: $main-color;
    height: 100vh; 
}

//-----------------------оформление Screen-1-------------------------

.screen {
    &._scr-1{
        background: #3A2511;
    }

    &__content._scr-1 {
        display: flex;
        flex-direction: column;
        height: calc(100% - 140px);
        justify-content: flex-end;
        padding: 0 0 100px 150px;
    }
}

@media all and (max-width: 950px) {
    .screen {
        &._scr-1 {
            background: #C4C4C4;
        }

        &__content._scr-1 {
            height: calc(100% - 63px);
            padding: 0;
        }
        
    }
}

//-----------------------оформление Screen-2-------------------------

.screen {
    &._scr-2 {
        background: #DECFA7;
    }

    &__content._scr-2 {
        display: flex;
        flex-direction: column;
        padding: 240px 0 0 150px;
    }
}

@media all and (max-width: 950px) {
    .screen {
        &._scr-2 {
            background: #C4C4C4;
        }

        &__content._scr-2 {
            justify-content: flex-end;
            height: 100%;
            padding: 0;
        }
    }
    
}

//-----------------------оформление Screen-3-------------------------

.screen {
    &__content._scr-3 {
        display: flex;
        width: 100%;
        height: 100%;
    }
    .screen-3 {
        &__img-1 {
            width: calc(100% / 3);
            background: #B9C8CB;
        }

        &__img-2 {
            width: calc(100% / 3);
            background: #DAB4AF;
        }

        &__img-3 {
            width: calc(100% / 3);
            background: #D3DAE2;
        }
    }
}

@media all and (max-width: 950px) {
    .screen._scr-3 {
        display: none;
    }
}

//-----------------------оформление Screen-4-------------------------

.screen {
    &._scr-4 {
        background: #C9CB7B;
    }

    &__content._scr-4  {
        display: flex;
        flex-direction: column;
        padding: 225px 0 0 150px;
    }
}


@media all and (max-width: 950px) {
    .screen {
        &._scr-4  {
            background: #C4C4C4;
        }

        &__content._scr-4  {
            justify-content: flex-end;
            height: 100%;
            padding: 0;
        }
        
    }
}

//-----------------------оформление Screen-5-------------------------

.screen { 
    &__content._scr-5 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 60px 80px 60px 80px;
    }

    &-5__header {
        font-size: 16px;
        font-weight: normal;
        color: black;
        padding-bottom: 30px;
    }

    &-5-gallery {
        display: flex;
        width: 100%;
        height: 100%;   
    }

    &-5__item {
        width: 25%;

        &._img-1 {
            background:#E9E7E8;
        }
    
        &._img-2 {
            background:#E1E1DF;
        }
    
        &._img-3 {
            background: #E8E8E6;
        }
    
        &._img-4 {
            background: #D4D4D4;
        }
    }
}


@media all and (max-width: 950px) {
    .screen {
        &._scr-5 {
            height: auto;
        }

        &__content._scr-5 {
            padding: 20px 8px 40px;
        }
    
        &-5__header {
            font-size: 12px;
            padding-bottom: 20px;
        }

        &-5-gallery {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;   
        }

        &-5__item {
            width: 100%;
            height: 100vh;
        }
        
    }
}
//-----------------------оформление Screen-6-------------------------

.screen {
    &._scr-6  {
        background: #99CB7B;
        }
        
    &__content._scr-6  {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 110px 100px 0;
    }  
}


@media all and (max-width: 950px) {
    .screen {
        &._scr-6 {
            background: #C4C4C4;
        }

        &__content._scr-6 {
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            padding: 0;
        }
    }
}

//-----------------------оформление Screen-7-------------------------

.screen {
    &__content._scr-7 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 60px 80px 60px 80px;
    }

    &-7-text {
        font-size: 16px;
        color: black;
    }

    &-7-gallery {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 30px 0;
    }

    &-7-gallery__col._left {
        display: flex;
        width: 50%;
        height: 100%;
    }

    &-7-gallery__col._left .screen-7__img {
        width: 100%;
        background: #BAC9E0;
    }

    &-7-gallery__col._right {
        width: 50%;
    }

    &-7-gallery__col._right div {
        width: 100%;
    }

    &-7-gallery__row {
        display: flex;
        height: 50%;
    }

    &-7__img-1 {
        background: #D9DADF;
    }

    &-7__img-2 {
        background: #D8D7D5;
    }

    &-7__img-3 {
        background: #CDCED7;
    }

    &-7__img-4 {
        background: #D4CFC3;
    }

    &-7__text {
        font-size: 16px;
    }

    &-7-nav {
        display: flex;
        justify-content: flex-start;
        color: $main-color;
    }

    &-7-nav__item {
        text-decoration: none;
        color: black;
        font-size: 12px;
        padding-right: 60px;
    }

    &._icon-item {
        display: flex;
        align-items: center;
    }

    &._icon {
        margin-left: 12.5px;
    }
}

@media all and (max-width: 950px) {
    .screen {
        &._scr-7 {
            height: auto;
            }

        &__content._scr-7  {
            padding: 0 8px;
        }

        &-7__nav-item {
            padding-right: 40px;
        }

        &-7-gallery {
            flex-direction: column;
            height: auto;

            &__col._left {
                display: flex;
                width: 100%;
                height: 100%;
            }
        
            &__col._left .screen-7__img {
                width: 100%;
                height: 100vh;
                background: #BAC9E0;
            }
        
            &__col._right {
                width: 100%;
            }
        
            &__col._right div {
                width: 100%;
            }
        
            &__row {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
    
            &-left-col-img {
                height: 100vh;
            }
        }

        &-7__img-1,
        &-7__img-2,
        &-7__img-3,
        &-7__img-4 {
            height: 100vh;
        }

        &-7-text {
            margin-bottom: 120px;
        }
        
    }
}

// -----------------------оформление Footer-------------------------

.footer {
    padding: 0 80px;

    &-top-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__header {
            font-size: 16px;
            margin-bottom: 16px;
        }

        &__text {
            font-size: 12px;
            margin-bottom: 40px;
        }

        &__input-group {
            width: 400px;
            border-bottom: 2px solid #D8D8D8;
            display: flex;
            align-items: center;
        }

        &__input {
            width: 100%;
            border: none;
            height: 25px;
            font-size: 16px;
            outline: none;
            box-sizing: border-box;
        }

        &__link {
            text-decoration: none;
            font-size: 16px;
            color: black;
        }
    }

    &-lower-section {
        display: flex;
        justify-content: space-between;
        margin: 60px 0;

        
        &__content {
            display: flex;
            flex-direction: column;
        }

        &__col {
            width: 25%;
            display: flex;
            flex-direction: column;
        }

        &__link,
        &__header,
        &__soc-media,
        &__contact {
            margin-bottom: 20px;
            font-size: 12px;
        }

        &__link {
            text-decoration: none;
            color: black;
            text-transform: uppercase;
        }

        &__soc-media {
            display: flex;
            align-items: center;

            & .footer-lower-section__link {
                margin-left: 20px;
                margin-bottom: 0;
            }
        }
    }

    &-header-block {
        display: flex;
        align-items: center;

        &__header {
            font-size: 16px; 
            margin-bottom: 20px;
        }

        &__exp-icon,
        &__min-icon {
            display: none;
        }
    }
}

@media all and (max-width: 950px) {
    .footer {
        padding: 0;

        &-top-section {
            padding: 0 25px;
    
            &__header {
                margin-bottom: 10px;
            }

            &__form {
                width: 100%;
            }

            &__input-group {
                width: 100%;
            }
    
            &__input {
                width: 100%;
                font-size: 12px;
            }
    
            &__link {
                font-size: 12px;
            }
        }

        &-lower-section {
            flex-direction: column;
            border-top: 2px dashed #D8D8D8;;

            &__content {  
                &._hidden {
                    display: none;
                }
            }

            &__col {
                width: 100%;
                border-bottom: 2px dashed #D8D8D8;
            }

            &__link,
            &__soc-media,
            &__contact {
                padding-left: 32px;
            }

            &__soc-media {
                & .footer-lower-section__link {
                    padding: 0;
                }
            }
        }

        &-header-block {
            position: relative;
            padding: 23px 0;

            &__header {
                width: 100%;
                padding-left: 32px;
                margin-bottom: 0;
                cursor: pointer;
            }

            &__exp-icon {
                display: inline;
                position: absolute;
                left: 14px;
                transform: translate(-50%, -50%);
                top: 47%;
            }

            &__min-icon {
                display: inline;
                position: absolute;
                left: 14px;
                transform: translate(-50%, -50%);
                top: 54%;
            }
        } 
    }
}


// --------------------- оформление страницы Catalog----------------

.screen {
    &._catalog {
        height: auto;
    }

    &-inner._catalog {
        display: flex;
        padding: 0 95px;
    }
}

.catalog {
    &-navigation-group {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 170px;
    }

    &-navigation {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        color: black;
    
        &__header {
            font-size: 16px;
            color: black;
            margin-bottom: 30px;
        }
    
        &__link {
            font-size: 12px;
            text-decoration: none;
            color: black;
            margin-bottom: 20px;
        }
    }

    &-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    &-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-item {
        width: 450px;
        height: 675px;
        margin-right: 80px;
        margin-bottom: 80px;
    }

    &__item-img {
        width: 450px;
        height: 675px;
        background: #EBEBEB;
    }

    &__like-icon {
        display: none;
    }

    &__item-name,
    &__item-price,
    &__item-status {
        color: black;
        font-size: 12px;
        margin-top: 12px;
        display: none;
    }

    &__item-status {
        color: #8C8C8C;
    }

    &-content-expander {
        display: none;
    }
}

@media all and (max-width: 950px) {
    .screen {
        &._catalog {
            padding: 0 10px;
            height: auto;
        }
    
        &-inner._catalog {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }
    
    .catalog {
        &-navigation-group {
            margin: 0;
        }

        &-navigation {
            display: none;
        
            &__header {
                display: none;
            }
        
            &__link {
                font-size: 12px;
                text-decoration: none;
                color: black;
                margin-bottom: 20px;
            }
        }
    
        &-items {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin-top: 30px;
        }
    
        &__row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    
        &__item {
            width: 320px;
            max-width: 395px;
            margin-right: 20px;
            margin-bottom: 25px;
        }

        &__item:nth-child(2n) {
            margin-right: 0;
        }
    
        &__item-img {
            position: relative;
            width: 100%;
            max-width: 395px;
            height: 590px;
            background: #EBEBEB;
        }
    
        &__like-icon {
            display: block;
            position: absolute;
            cursor: pointer;
            top: 93%;
            margin-left: 10px;
            margin-bottom: 10px;
        }

        &__item-name,
        &__item-price,
        &__item-status {
            display: block;
        }
    
        &-content-expander {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            color: black;
            padding: 25px 0;
            padding-left: 10px;
            border-bottom: 2px dashed #D8D8D8;
    
            &__icon {
                display: inline;
                position: absolute;
                top: 47%;
                // left: 14px;
                transform: translate(-50%, -50%);
            }
    
            &__text {
                margin-left: 10px;
            }
        }
    }
}

@media all and (max-width: 696px) {
    .catalog {
        &__item:nth-child(2n) {
            margin-right: 20px;
        }
    }
}

@media all and (max-width: 656px) {
    .catalog {
        &__item {
            margin-right: 0px;
        }

        &__item:nth-child(2n) {
            margin-right: 0px;
        }
    }
}

// --------------------- оформление страницы Collections----------------

.screen {
    &._collections {
        height: auto;
    }

    &-inner._collections {
        padding: 0;
        color: black;
    }
}

.collections {
    &-top-block {
        display: flex;
        width: 100%;
        height: calc(100vh - 82px);
    
        &__img-1,
        &__img-2 {
            width: 100%;
            height: auto;
        }
    
        &__img-1 {
            background: #E7E7E7;
        }
    
        &__img-2 {
            background: #DCDCDC;
        }
    }

    &-middle-block {
        display: flex;
        height: 100vh;
        padding-top: 90px;
        padding-bottom: 60px;

        &__text,
        &__item-1,
        &__item-2 {
            width: calc(100%/3);
        }

        &__text {
            font-size: 35px;
            padding-top: 280px;
            display: flex;
            justify-content: center;
        }

        &__item-1 {
            background: #DCDCDC;
        }

        &__item-2 {
            background: #E8F1D7;
        }
    }

    &-bottom-block {  
        padding: 0 80px 120px 80px;
        
        &__header {
            font-size: 16px;
            margin-bottom: 30px;
        }

        &-gallery {
            display: flex;
            width: 100%;
            height: 100%;  

            &__item {
                width: 25%;
                height: 940px; 
        
                &._img-1 {
                    background: #E2E2E0;
                }
            
                &._img-2 {
                    background: #CFCFB9;
                }
            
                &._img-3 {
                    background: #EBEBBC;
                }
            
                &._img-4 {
                    background: #DFDFCB;
                }
            }
        }
    }

    &-map {
        color: #8C8C8C;
        font-size: 12px;
        padding-top: 20px;
        padding-left: 50px;
    }
}

.product {
    padding: 40px 60px;
    width: 720px;

    &__name {
        font-size: 16px;
        margin-bottom: 20px;
    }

    &__price {
        font-size: 12px;
        margin-bottom: 10px;
    }

    &__status {
        font-size: 12px;
        color: #D8D8D8;
    }

    &-color {
        display: flex;
        flex-direction: column;
        
        &._collection-page {
            padding: 30px 0;
        }

        &__text {
            font-size: 12px;
            color: #8C8C8C;
            margin-bottom: 10px;
        }

        &__input {
            width: 35px;
            height: 35px;
        }
    }

    &-size {
        display: flex;
        flex-direction: column;

        &__text {
            font-size: 12px;
            color: #8C8C8C;
            margin-bottom: 20px;
        }

        &__field {
            display: flex;
        }

        &__item {
            font-weight: bold;
            font-size: 12px;
            padding-bottom: 5px;
            cursor: pointer;

            &._active {
                border-bottom: 1px solid black;
            }
        }

        &__item:not(:last-child) {
            margin-right: 20px;
        }
    }

    &-buttons {
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;

        &__add {
            color: $main-color;
            width: 240px;
            height: 50px;
            background-color: black;
            box-sizing: border-box;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center; 
            border-color: black;    
            outline-width: 0;
        }

        &__like {
            margin-left: 2px;
            width: 50px;
            height: 50px;
            background-color: black;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;     
        }
    }
    
    &-info {
        display: flex;
        flex-direction: column;

        &-header {
            display: flex;
            align-items: center;
            position: relative;

            &__header {        
                font-size: 12px;
                padding: 20px 0;
                margin-left: 20px;
                cursor: pointer;
            }

            &__icon {
                display: inline;
                position: absolute;
                top: 48%;
                left: 4px;
                transform: translate(-50%, -50%);
            }

            &__exp-icon  {
                display: inline;
                position: absolute;
                top: 48%;
                left: 4px;
                transform: translate(-50%, -50%);
            }

            &__min-icon  {
                display: inline;
                position: absolute;
                top: 48%;
                left: 4px;
                transform: translate(-50%, -50%);
            }
        }

        &__description {
            font-size: 12px;
            color: #8C8C8C;
            padding-left: 20px;
            margin-bottom: 30px;

            &._hidden {
                display: none;
            }
        }
    }
}

@media all and (max-width: 1376px) {
    .collections-bottom-block-gallery__item {
        height: 470px; 
    }
}

@media all and (max-width: 950px) {
    .collections {
        &-top-block {
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
        
            &__img-1,
            &__img-2 {
                height: 100%;
            }
        
            &__img-1 {
                background: #E7E7E7;
                width: 425px;
                height: 630px;
            }
        
            &__img-2,
            &__map {
                display: none;
            }
        }

        &-middle-block {
            padding-bottom: 60px;
            flex-direction: column;
            height: auto;

            &__text,
            &__item-1,
            &__item-2 {
                width: 100%;
            }

            &__text {
                padding: 0;
                margin-bottom: -19px;
                z-index: 1;
            }

            &__item-1,
            &__item-2 {
                height: 100vh;
            }
        }

        &-bottom-block {
            padding: 0 4px;

            &-gallery {
                flex-wrap: wrap;
                margin-bottom: 120px;

                &__item {
                    height: 620px;
                    width: 50%;
                }
            }
        }
    }

    .product {
        width: 100%;

        &-buttons {
            &__add {
                width: 180px;
                height: 40px;
                font-size: 14px;
            }

            &__like {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media all and (max-width: 575px) {
    .collections-bottom-block-gallery__item {
        height: 310px;
    }

    .collections-top-block__img-1 {
        width: 320px;
    }
}

// --------------------- оформление страницы Bag------------------------

.screen {
    &._bag {
        height: auto;
        color: black;
    }

    &-inner._bag {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.bag {
    display: flex;
    flex-direction: column;

    &-divider {
        margin-top: 10px;
        border: 1px solid #D8D8D8;
    }

    &-header-block {

        &__header {
            font-size: 20px;
        }

        &__items {
            font-size: 12px;
            margin-left: 20px;
            color: #8C8C8C;
        }
    }

    &-item {
        display: flex;
        padding: 60px 0 40px 0;

        &__img {
            width: 160px;
            height: 230px;
            flex-shrink: 0;
            background-color:#EAE8E9;
        }

        &-info {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
    
            &__name {
                font-size: 16px;
                margin-top: 10px;
            }
    
            &__price {
                font-size: 12px;
                margin-top: 10px;
            }
    
            &-specs {

                &__color,
                &__size,
                &__quantity {
                    font-size: 12px;
                    margin-top: 15px;
                }

                &__color {
                    display: flex;
                    align-items: center;
                }

                &__icon {
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
        }
    }
        
    &-remove {
        font-size: 12px;
        margin-bottom: 34px;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;

        &__text {
            margin-left: 10px;
        }
    }

    &-total {
        padding: 40px 0 120px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__price {
            font-size: 20px;
            margin-bottom: 20px;
        }

        &__icons {
            margin-top: 20px;
        }
    }
}

@media all and (max-width: 950px) {
    .screen {
        &-inner._bag {
            padding: 0 10px;
        }
    }
}

//----------------------оформление компонента Spoiler--------------------

.spoiler {
    &-info {
        display: flex;
        flex-direction: column;

        &-header {
            display: flex;
            align-items: center;
            position: relative;

            &__header {        
                font-size: 12px;
                padding: 20px 0;
                margin-left: 20px;
                cursor: pointer;
            }

            &__icon {
                display: inline;
                position: absolute;
                top: 48%;
                left: 4px;
                transform: translate(-50%, -50%);
            }

            &__exp-icon  {
                display: inline;
                position: absolute;
                top: 48%;
                left: 4px;
                transform: translate(-50%, -50%);
            }

            &__min-icon  {
                display: inline;
                position: absolute;
                top: 48%;
                left: 4px;
                transform: translate(-50%, -50%);
            }
        }

        &__description {
            font-size: 12px;
            // color: #8C8C8C;
            padding-left: 20px;
            margin-bottom: 15px;

            &._hidden {
                display: none;
            }
        }
    }
}

//----------------------оформление компонента Button--------------------

.button {
    color: $main-color;
    width: 240px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    font-size: 16px;
    background: rgba(0,0,0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &._not-main {
        background-color: black;
        font-size: 16px;
        border-color: black;    
    }
}

@media all and (max-width: 950px) {
    .button {
        color: $mob-color;
        width: 220px;
        height: 40px;
        border: 2px solid $mob-color;
        box-sizing: border-box;
        font-size: 14px;
        background: rgba(0,0,0, 0);
        display: flex;
        justify-content: center;
        align-items: center;     
    }
}

//----------------------оформление компонента Dropdown--------------------

.dropdown {
    display: flex;
    align-items: center;
    margin-top: 15px;

    &__header {
        font-size: 12px;
        cursor: pointer;
    }

    &__exp-icon {
        margin-left: 15px;

        &._active {
            transform: scaleY(-1);
        }
    }

    &-content {
        display: none;
    }
}